<form
  class="rounded-xl overflow-hidden bg-white"
  [formGroup]="taskForm"
  (ngSubmit)="onFormSubmit()"
>
  <div class="flex gap-4 items-center p-4">
    <img src="icon-new-task.svg" alt="Criar" />
    <h1 class="font-semibold text-lg">
      {{ (_data.mode === 'create' ? 'Criar' : 'Editar') + ' tarefa' }}
    </h1>
    <img class="ml-auto cursor-pointer" src="icon-close.svg" alt="Fechar" 
    (click)="closeModal()"    
    />
  </div>

  <div class="p-4 border-y border-[#D1D5DD] flex flex-col gap-4">
    <div>
      <p class="font-semibold text-sm mb-2">Nome:</p>
      <input
        class="w-full border border-[#D1D5dd] p-3 rounded-lg text-sm text-[#89919f]"
        type="text"
        placeholder="Escreva o que deverá ser feito!"
        formControlName="name"
      />
      @if (taskForm.get('name')?.touched && taskForm.get('name')?.invalid) {
        <p class="font-semibold text-sm text-red-500">O campo é obrigatorio!</p>
      }
    </div>

    <div>
      <p class="font-semibold text-sm mb-2">Descrição:</p>
      <input
        class="w-full border border-[#D1D5dd] p-3 rounded-lg text-sm text-[#89919f]"
        type="text"
        placeholder="Adicione uma descrição"
        formControlName="description"
      />
      @if (taskForm.get('description')?.touched && taskForm.get('description')?.invalid) {
        <p class="font-semibold text-sm text-red-500">O campo é obrigatorio!</p>
      }
    </div>
  </div>

  <div class="flex p-4 justify-end gap-2">
    <button
      class="py-3 px-4 bg-[#FAFAFA] text-sm font-semibold text-black cursor-pointer rounded-xl active:translate-y-1 transition-transform duration-75"
      type="button"
      (click)="closeModal()"
    >
      Cancelar
    </button>
    <button
      class="py-3 px-4 text-sm font-semibold text-white cursor-pointer rounded-xl"
      [ngClass]="{
        'bg-[#89919f]': taskForm.invalid,
        'bg-[#2a89ef]  active:translate-y-1 transition-transform duration-75 shadow-md shadow-blue-500/50':
          taskForm.valid
      }"
      type="submit"
      [disabled]="taskForm.invalid"
    >
      {{ _data.mode === 'create' ? 'Criar uma tarefa' : 'Salvar alterações' }}
    </button>
  </div>
</form>
