<header class="bg-[#fafafa] py-3 px-6 w-full flex">
  <div class="flex items-center gap-2">
    <img src="icon-logo.svg" alt="Logo" class="w-5 ">
    <h1 class="font-bold">GoTask</h1>
  </div>
  <nav class=" ml-auto flex gap-6">
    <button class="bg-white p-2 rounded-xl">
      <img src="icon-notification.svg" alt="Notification" class="w-5">
    </button>
    <div class="flex items-center gap-3">
      <img class="w-7" src="icon-user-avatar.svg" alt="User">
      <span class="font-bold">Thainara S.</span>
      <button class="w-3">
        <img src="icon-sign-out.svg" alt="SignOut" class="w-3">
      </button>
    </div>
  </nav>
</header> 